PORT=5000
MONGODB_URI=mongodb+srv://abhinav:abhidb@cluster0.1gbc3b4.mongodb.net/interview_questions_platform?retryWrites=true&w=majority
JWT_SECRET=interview_platform_jwt_secret_2026
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
